# **Food Commodity Prices Analysis and Forecasting in Kenya**

**By:** Charles Kagwanja   **|**   Kevin Kagia  |   Lucy Njambi  | 
 Mwenda Mugambi



---

In [2]:
# Importing necessary Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.seasonal import seasonal_decompose

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error

%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Loading the dataset
data = pd.read_csv('Data/wfp_food_prices_ken.csv')

# Displaying the first few rows of the dataset
data.head()

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
0,#date,#adm1+name,#adm2+name,#loc+market+name,#geo+lat,#geo+lon,#item+type,#item+name,#item+unit,#item+price+flag,#item+price+type,#currency,#value,#value+usd
1,2006-01-15,Coast,Mombasa,Mombasa,-4.05,39.666667,cereals and tubers,Maize (white),90 KG,actual,Wholesale,KES,1480.0,20.5041
2,2006-01-15,Coast,Mombasa,Mombasa,-4.05,39.666667,pulses and nuts,Beans,KG,actual,Wholesale,KES,33.63,0.4659
3,2006-01-15,Coast,Mombasa,Mombasa,-4.05,39.666667,pulses and nuts,Beans (dry),90 KG,actual,Wholesale,KES,3246.0,44.9705
4,2006-01-15,Eastern,Kitui,Kitui,-1.366667,38.016667,cereals and tubers,Maize (white),KG,actual,Retail,KES,17.0,0.2355

In [19]:
# Descriptive statistics and dataset size
data.describe(include='all', datetime_is_numeric=True)

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
count,15736,15736,15736,15736,15736,15736,15736,15736,15736,15736,15736,15736,15736,15736
unique,213,8,23,63,63,63,9,48,15,3,3,2,6876,11387
top,2021-04-15,Rift Valley,Nairobi,Nairobi,-1.283333,36.816667,cereals and tubers,Maize (white),KG,actual,Wholesale,KES,10.0,0.0917
freq,600,5862,3516,1763,1763,1763,7435,1785,6429,10649,8454,15735,346,34

In [6]:
# Check for missing values
data.isnull().sum()

date         0
admin1       0
admin2       0
market       0
latitude     0
longitude    0
category     0
commodity    0
unit         0
priceflag    0
pricetype    0
currency     0
price        0
usdprice     0
dtype: int64

In [18]:
# Unique values for certain columns
unique_admin1 = data['admin1'].nunique()
unique_markets = data['market'].nunique()
unique_commodities = data['commodity'].nunique()
unique_categories = data['category'].nunique()

print(f"unique_admin1 = {unique_admin1}\n" 
      f"unique_markets = {unique_markets}\n"
      f"unique_commodities = {unique_commodities}\n"
      f"unique_categories = {unique_categories}\n" )

unique_admin1 = 8
unique_markets = 63
unique_commodities = 48
unique_categories = 9